<!-- login.cshtml -->
@{
    Layout = "_Layout";
}
@model TaskProject.Core.Features.Authentication.Command.Models.SignInCommand

<head>
    <link rel="stylesheet" href="~/css/login.css" />
</head>

<body>
    <h3>Login</h3>

    <form method="post" asp-action="Login" asp-controller="Auth">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="Username" class="form-control" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="Password" class="form-control" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
</body>

